body {
    margin: 0;
    padding: 0;
    background-color: #525252;
    overflow-y: hidden;
    display: flex;
    flex-wrap: nowrap;
}

* {
    color: #92ffff;
    scrollbar-color: #81b2c9 #525252;
    font-family: "JetBrains Mono", "Cascadia Code", "Noto Sans Mono CJK JP", "Noto Sans JP", monospace;
}



#bsw {
    width: 30vw;
    height: 100vh;
    border-right: 2px dashed #000;
}


/* BSW TOP */
#bsw-top {
    width: 100%;
    height: 25%;
    border-bottom: 1px solid #000;
    overflow-y: auto;
}
#bsw-top h1 {
    width: max-content;
    margin: auto;
    font-size: 30px;
    height: 40px;
}

#bars {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: calc(100% - 40px);
}


#cpu {
    width: 50%;
    height: 25%;
}
#mem {
    width: 50%;
    height: 25%;
}
#cpu .bar {margin-left: 5%;}
#mem .bar {margin-left: 5%;}
#cpu h2 {text-align: center;}
#mem h2 {text-align: center;}


.bar {
    width: 90%;
    height: 100%;
    border: #000 1px solid;
}
.fill {
    height: 100%;
    width: 0;
}
.par {
    text-align: center;
}
#cpu .bar {background-color: rgb(112, 226, 188);}
#mem .bar {background-color: rgb(214, 226, 111);}

#cpu .fill {background-color: rgb(78, 173, 128);}
#mem .fill {background-color: rgb(168, 173, 89);}

/* BSW CENTER */

#bsw-center {
    width: 100%;
    height: 30%;
    border-bottom: 1px solid #000;
    overflow-y: auto;
}
#bsw-center h1 {
    width: max-content;
    margin: auto;
    font-size: 30px;
}
#bsw-center pre {
    margin: 0;
    padding: 0;
    width: 100%;
    height: calc(100% - 30px);
    font-size: 1.4rem;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
}


#bsw-center pre span::before {
    content: "■";
    margin-left: 3px;
    font-size: xx-small;
}

/* BSW BOTTOM */

#bsw-bottom {
    width: 100%;
    height: 45%;
    border-bottom: 1px solid #000;
}
#bsw-bottom h1 {
    width: max-content;
    margin: auto;
    font-size: 30px;
}
#bsw-bottom pre {
    margin: 0;
    padding: 0;
    width: 100%;
    height: calc(100% - 40px);
    font-size: 1.4rem;
    overflow-y: auto;
}
#bsw-bottom pre .d {color: #3365a5;}
#bsw-bottom pre .mc {color: #26581a;}

/* GOOGLE */

#google {
    width: 40vw;
    height: 100vh;
    border-right: 2px dashed #000;
    display: grid;
    place-items: center;
}
#google h1 {
    width: max-content;
    margin: auto;
}
#google input {
    height: 10%;
    background: none;
    border: #FFF 2px solid;
    border-radius: 10px;
    font-size: clamp(16px, 5vw, 40px);
    outline: none;
    padding: 0;
    width: 100% ;
}
#search img{
    padding: 0;
    width: 10%;
}
#search {
    border: 2px solid #FFF;
    border-top: none;
    border-radius: 10px;
    padding: 0;
    width: 100%;
    text-align: center;
}

/* LINKS */

#links {
    width: 30vw;
    height: 100vh;
    display: grid;
    place-items: center;
}
#links h1 {
    width: max-content;
    margin: auto;
    font-size: 30px;
}

#links ul {
    list-style-type: none;
    font-size: clamp(16px, 4.5vw, 40px);
    width: max-content;
    margin: auto;
}
#links a {
    text-decoration: none;
    color: #000;
    transition: 0.2s;
}

#links a:hover {
    color: #2f721e;
}