
@font-face {
  font-family: "YuseiMagic";
  src:
    local("YuseiMagic"),
    url("./YuseiMagic.ttf") format("truetype")
}
* {
    font-family: "YuseiMagic";
}
html,body {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    background-color: #b1b1b1;
    display: flex;
    flex-wrap: nowrap;
    transition: 0.3s;
}
menu * {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
menu {
    /* opacity: 0.5; */
    margin: 0;
    padding: 0;
    background-color: #777777;
    border-right: 3px dashed #000;
    height: 99.5%;
    width: 100px;
    position:sticky;
    top: 0;
}
menu button {
    margin: 0;
    padding: 0;
    width: 100%;
    margin-top: 30%;
    margin-bottom: 0%;
    height: 27%;
    transition: 0.3s;
    background-color: #5a5a5a;
    color: #fff;
}
menu button:hover {
    background-color: #d4d4d4;
    border-radius: 30px;
    color: #000;
}
#console_disp {
    display: none;
}
main {
    width: 100%;
    transition: .3s;
}
.disp {
    width: 100%;
}
.border-btm {
    border-bottom: 2px solid #000;
}
.b {
    margin: auto;
    width: max-content;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
}
#players {
    width: max-content;
    max-width: 100vw;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style-type:decimal;
}
#log {
    margin: 0;
    padding: 0;
    background: none;
    height: 90vh;
    width: 90%;
    margin-left: 5%;
    border: 3px solid #000;
    overflow-y: auto;
    transition: 0.3s;
}
#bar {
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;

}
#inputcmd {
    margin: 0;
    padding: 0;
    width: 85%;
    margin-left: 5%;
    height: 7vh;
    font-size: 3rem;
    border: 3px solid #000;
}
#submit {
    margin: 0;
    padding: 0;
    width: 5%;
    height: 7.6vh;
    font-size: 1.5rem;
    border: 3px solid #000;
}
#system {
    display: flex;
    flex-wrap: wrap;
    width: max-content;
    margin: auto;
    padding: 0;
}
#system div {
    padding: 0;
    margin: 3px;
    border: 2px dashed #000;
    margin-right: 20px;
    margin-top: 10px;
}
#system div h3 {
    padding: 0;
    margin: 0;
    width: max-content;
    margin: auto;
}
#system div h2 {
    padding: 0;
    margin: 0;
}


#LightDark {
    width: 90%;
    object-fit: cover;
}

.server {
    color: rgb(0, 247, 255);
}
.PlayerJoin {
    color: rgb(0, 107, 0);
}
.PlayerLeave {
    color: rgb(204, 29, 29);
}
.cmd {
    color: rgb(0, 100, 187);
}
.chat {
    color: #25d943;
}
.death {
    color: rgb(159, 0, 165);
}

#alert {
    position: absolute;
    width: max-content;
    height: max-content;
    top: 10vh;
    right: 20px;
    border: #000 1px dashed;
    background-color: rgb(255, 67, 67);
    display: none;
}
#alert h1 {
    font-size: medium;
}

@media screen and (max-width: 768px) {
    body {
        overflow-y: auto;
    }
    menu {
        width: 100vw;
        height: 5vh;
        position:fixed;
        display: flex;
        flex-wrap: nowrap;
        border-right: 0px;
        border-bottom: 2px dashed #000;
        left: 0;
    }
    menu button {
        width: 40vw;
        margin-top: 0px;
        margin-bottom: 0px;
        height: 5vh;
        margin-right: 3vw;
    }
    main {
        margin-top: 5vh;
    }
    #LightDark {
        height: 100%;
        width: auto;
        object-fit: cover;
    }
    #system {
        display: block;
        flex-wrap: wrap;
        width: 100vw;
    }
    #system div {
        width: max-content;
        border-top: 2px dashed #000;
        border: 0px;
        margin-right: 20px;
        margin-top: 10px;
        margin: auto;
    }
    #inputcmd {
        width: 70%;
    }
    #submit {
        width: 20%;
    }
    #log {
        height: 85vh;
    }
    #players {
        display: block;
    }
}

/* Backup */
#backup_disp {
    display: none;
}
#backup_list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 20px;
}

#backup_list div {
    border: 2px dashed #000;
    padding-left: 20px;
    padding-right: 20px;
    height: max-content;
    display: block;
    border-radius: 10px;
}
#backup_list div h1 {
    font-size:1.6rem;
    text-align: center;
    letter-spacing:2px;
}
#backup_list div h1 span{
    font-size:1rem;
}
#backup_list div h2 {
    font-size:1rem;
    text-align: center;
}
#backup_list div p {
    font-size:1rem;
    text-align: center;
}
.latest {background-color: #25c4d967;}
.full {background-color: #d9252567;}
.Backup_Menu {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.Backup_Menu p {
    padding-right: 20px;
    font-size: 1.4rem;
    width: max-content;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.Backup_Menu span {
    padding-left: 20px;
    font-size: 1.5rem;
    letter-spacing:2px;

}

