body {
  font-family:
    "JetBrains Mono",
    "Cascadia Code",
    "Noto Sans Mono CJK JP",
    "Noto Sans JP",
    monospace;
  background: #0e151f;
  color: #c9d1d9;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

* {
  scrollbar-color: #25515c #0d1117;
}

pre {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  white-space: pre-wrap;
  word-break: break-word;
  margin: 0;
  font-size: 1.2rem;
}

.panel {
  position: absolute;
  border: 1px dashed #bebebe;
  padding: 0.5em;
  box-sizing: border-box;
}

.title {
  position: absolute;
  top: -0.7em;
  left: 0.5em;
  background: #0e151f;
  padding: 0 0.5em;
  font-weight: bold;
}

#status-panel {
  top: 10px;
  left: 10px;
  width: 25vw;
  height: 20vh;
}

#chat-panel {
  top: 10px;
  left: 29vw;
  width: 67vw;
  height: 20vh;
}

#backup-panel {
  top: 25vh;
  left: 10px;
  width: 44vw;
  height: 20vh;
}
#usage-panel {
  top: 25vh;
  left: calc(44vw + 1vw + 20px);
  width: 50vw;
  height: 20vh;
  display: flex;
  flex-wrap: nowrap;
}

#cpu {
  width: 50%;
}
#mem {
  width: 50%;
}
.bar {
  width: 70%;
  border: 1px solid rgb(143, 143, 143);
  height: 2vh;
  background: rgb(75, 158, 93);
  margin: 0;
  margin: auto;
  padding: 0;
  /* border-radius: 10px; */
}
.fill {
  width: 0px;
  height: 100%;
  background: rgb(36, 75, 44);
  /* border-radius: 10px; */
}
.par {
  padding: 0;
  text-align: center;
}
#cpu .bar {background: rgb(75, 158, 158);}
#cpu .fill {background: rgb(28, 65, 65);}

#mem .bar {background: rgb(94, 88, 184);}
#mem .fill {background: rgb(38, 45, 82);}





#console-panel {
  top: 50vh;
  left: 10px;
  width: calc(95vw + 10px);
  height: 35vh;
}



#sendcmd-panel {
  top: 89vh;
  left: 10px;
  width: calc(95vw + 10px);
  height: 10vh;
}

#cmdinput {
  border: none;
  margin: 0;
  padding: 0;
  width: 90%;
  height: 100%;
  font-size: clamp(16px, 5vw, 40px);
  background: none;
  color: white;
  font-family:
    "JetBrains Mono",
    "Cascadia Code",
    "Noto Sans Mono CJK JP",
    "Noto Sans JP",
    monospace;
  outline: none;
}
#submit {
  width: 10%;
  font-size: clamp(12px, 2.5vw, 1.5rem);
  background: none;
  border: 1px dashed white;
  color: white;
  font-family:
    "JetBrains Mono",
    "Cascadia Code",
    "Noto Sans Mono CJK JP",
    "Noto Sans JP",
    monospace;
  word-break: break-all;
}

#console-body {
  font-size: 1rem;
}
#chat-body {
  font-size: 1.2rem;
}
.console-log { color: #c9d1d9; }
.console-BDS { color: #c9d1d9; }
.console-death { color: #ff5555; }
.console-chat { color: #219b3f; }
.console-cmd { color: #ffff00; }
.console-PlayerJoin { color: #00ff00; }
.console-PlayerLeave { color: #ff00ff; }
.console-server { color: #8888ff; }

.console-backup {color: #22916c;}
.console-full {color: #912222;}
